# How to import dataset in python using pandas liberary
Written By: Abubakar Ikram\
Date: 05-07-2025\
Email: abubakarsuleheri@gmail.com

How to import Pandas

In [1]:
import pandas as pd

How to Read File using Pandas

In [2]:
# Reading File by read function
df = pd.read_excel("pandas_01_day6.xlsx")

In [3]:
df.head()

   height weight favourite_dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao

In [11]:
df.tail()

    height weight favourite_dish
82     5.4     55          Pasta
83     5.9     75  Karahi Ghosht
84     5.4     61        Biryani
85     6.2     68  Chicken Pulao
86     5.1     96        Biryani

In [12]:
df.shape

(87, 3)

In [13]:
df.info

<bound method DataFrame.info of     height weight favourite_dish
0      5.8    101  Chicken Pulao
1      6.2     92        Biryani
2      5.9     62  Karahi Ghosht
3      5.9     95  Chicken Pulao
4      5.9     55  Chicken Pulao
..     ...    ...            ...
82     5.4     55          Pasta
83     5.9     75  Karahi Ghosht
84     5.4     61        Biryani
85     6.2     68  Chicken Pulao
86     5.1     96        Biryani

[87 rows x 3 columns]>

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     object
 2   favourite_dish  87 non-null     object
dtypes: float64(1), object(2)
memory usage: 2.2+ KB