In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
sns.load_dataset('iris').to_excel('phool.xlsx')

In [4]:
phool = pd.read_excel('phool.xlsx')

In [5]:
phool.shape

(150, 6)

In [6]:
phool.describe()

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000